h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 220501096-4]
        p.mb-0 Usar estructuras de control iterativas en Python teniendo en cuenta los ciclos requeridos por el usuario.



