.container#page-introduccion

    .header-ecored
        h1 Introducción


    .jumbotron.bg-white 
      .row.justify-content-center

        .col-12.col-lg-9.mb-5
          img(src="assets/images/pages/intro/introduccion.svg", alt="", style="width:100%") 

        .col-12
          p.mb-5 Se denominan ciclos repetitivos o iterativos a aquellos que agrupan un bloque de instrucciones para ser ejecutado un determinado número de veces. Este número puede ser fijo (definido por el programador) o puede ser variable (dependiendo de algún valor o condición en el programa).

          p Se puede ver un ejemplo de un ciclo iterativo en el siguiente gráfico:          

        .col-10.col-lg-5.my-5
          img(src="assets/images/pages/intro/img_intro_01.svg", alt="", style="width:100%") 

        .col-12
          p Mientras la condición sea Verdadera, se realizará el bloque de instrucciones, hasta que la condición sea falsa. 

          p.mb-0 Para Marzal(2014), los ciclos iterativos en Python, usan dos instrucciones: el ciclo #[strong #[i FOR]] y el ciclo #[strong #[i WHILE]]. Dependiendo de la situación que se deba resolver, se selecciona la instrucción mas adecuada a utilizar.


