.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody
                                  
                tr
                    td Programación ATS. (2018, 15 diciembre). 37. Programación en Python | Bucles | Bucle While. YouTube. https://www.youtube.com/watch?v=YEWxlbffgxE
                    td Video 
                    td 
                        a(href="https://www.youtube.com/watch?v=YEWxlbffgxE", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver 
                tr
                    td Python Numbers. (2020). https://www.w3schools.com/. https://www.w3schools.com/python/python_numbers.asp
                    td Tutorial online
                    td 
                        a(href="https://www.w3schools.com/python/python_numbers.asp", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td pildorasinformaticas. (2017, 16 abril). Curso Python. Bucles I. For. Vídeo 14. YouTube. https://www.youtube.com/watch?v=GQGhU1526Oo
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=GQGhU1526Oo", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td codigofacilito. (2016, 27 septiembre). 13.- Curso Python - For. YouTube. https://www.youtube.com/watch?v=aqnjB3dydik
                    td Video 
                    td 
                        a(href="https://www.youtube.com/watch?v=aqnjB3dydik", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td pildorasinformaticas. (2017b, mayo 1). Curso de Python. Bucles IV. Bucle While. Vídeo 17. YouTube. https://www.youtube.com/watch?v=UfUM6uzl5SM
                    td Video 
                    td 
                        a(href="https://www.youtube.com/watch?v=UfUM6uzl5SM", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver